//
// App-specific styles
//
body {
	background: #eeeeee
}

.header {
  background: #86aecc;
}

.main {
	min-height: 40ex;
	background: #ffffff;
}

.footer {
  color: #777777;
  padding-top: 4em;
  padding-bottom: 4em;
}
